body {
  margin: 0;
  font-family: 'Open Sans', Arial,  sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  src: url("sources/fonts/OpenSans-Bold.ttf") format("opentype"),
       url("sources/fonts/OpenSans-Bold.woff") format("woff"),
       url("sources/fonts/OpenSans-Bold.woff2") format("woff2"),
       url("sources/fonts/OpenSans-Regular.ttf") format("opentype"),
       url("sources/fonts/OpenSans-Regular.woff") format("woff"),
       url("sources/fonts/OpenSans-Regular.woff2") format("woff2");
}

.top, .named, .sect_title, .number, .download_app, .buttons_text_bold {
  font-weight: inherit;
}
.top, .named, .sect_title, .number, .download_app, .buttons_text_bold {
  font-weight: bold;
}
.top, .buttons_text, .named, .sect_title, .footer {
  text-transform: uppercase;
}
.buttons_text > span{
  display: block;
  font-weight: 400;
}

.top {
  width: 100%;
  background-color: #fc0d0d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: inherit;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
.top::after {
  content: "";
  background-color: #0A0E34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.header_container, .footer_container, .down_app, .get_it_on, .btn, .app_container, .download_app, .can_do {
  justify-content: center;
}

.header_container, .footer_container {
  width: 100%;
  box-sizing: border-box;  
  margin: 0 auto;           
  position: relative;      
  z-index: 2;
}

.title {
  display: block;
  width: 84%;
  
}
.title2 {
  display: block;
  margin-top: 0;
  margin-left: auto;
}

.btn {
  width: 100%;
  height: 100%;
  text-decoration: none;
  /*display: block;*/
  color: #FFFFFF;
}

.btn, .sect_title, .art_header, .post_number {
  display: flex;
  align-items: center;
}

.logotype path, .icon, .logo {
  fill: #FFFFFF;
}

.logotype, .store_buttons, .down_app, .btn, .get_it_on, .logo_img, .title {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  background-color: #5637A6;
}
.logo > svg {
  margin: auto;
}

.down_app, .get_it_on, .btn {
  background-color: #5E42B0;
  display: flex;
  align-items: center;
}

.buttons_text {
  text-align: left;
  font-weight: lighter;
}

.buttons_text > span {
  margin-top: 1px;
  margin-bottom: 1px;
}
.btn:hover, .btn:hover .icon {
  fill: #5E42B0;
  color: #5E42B0;
}
.down_app:hover, .get_it_on:hover, .btn:hover {
  background-color: #FFFFFF;
}


.collobaration {
  background-color: #F5F4F9;
}
.growth_1 {
  background-color: #5E42B0;
}
.growth {
  background-color: #090C35;
}
.growth_1 > p, .growth > p {
  color: #FFFFFF;
}
.named{
  color: #E7E7E7;
}


.sect_title {
  color: #C1C1C1;
}
.title_1 {
  opacity: 0.4;
}
.number {
  display: block;
  height: 24px;
  color: #000000;
  margin-right: 9px;
  border-bottom: 3px solid #5e42b0;
}
.differ {
  color: #0A0E34;
  border-bottom: 3px solid #ffffff;
}
.light {
  color: #9173E6;
}
.opac {
  color: #F5F6F7;
  border-bottom: 3px solid #8E7BC8;
  margin: auto;
}

.content > p {
  margin: 0;
}

.post_number {
  background-color: #5E42B0;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.post, .images_3, .images_4, .images_5 {
  position: relative;
}

.images_1_1, .images_2_1, .images_3_1, .images_4_1, .images_5_1 {
  display: block;
}

picture, source, img {
  width: 100%;
  height: 100%;
}

.logo_img {
  display: block;
}

.footer {
  width: 100%;
  background-color: #fc0d0d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.footer::after {
  content: "";
  background-color: #0A0E34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.footer_container {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.download_app, .can_do {
  text-align: center;
}
.can_do {
  color: #A496CA;
}



@media(max-width: 767px) {
  .top {
    height: 570px;
    background-image: url("sources/img/football_767.jpg");
  }
  .header_container {
    height: 570px;
    padding-top: 33px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-bottom: 84px;
  }
  .logotype {
    width: 133px;
    height: 36px;
  }
  .title {
    max-width: 394px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 130px;
  }
  .title2 {
    width: 224px;
  }
  .down_app {
    margin-bottom: 14px;
  }
  .down_app, .get_it_on, .btn {
    border-radius: 17px;
    height: 35px;
  }
  .down_app, .get_it_on {
    width: 280px;
  }
  .icon {
    width: 21px;
    height: 23px;
    margin-right: 8px;
  }
  .buttons_text > span {
    font-size: 8px;
  }

  .content, .post_1 > .container {
    padding-left: 6%;
    padding-right: 6%;
  }
  main > .post {
    padding-top: 16px;
    position: relative;
  }
  .named {
    padding-bottom: 40px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 50px;
    line-height: 48px;
  }
  .content {
    padding-top: 56px;
    padding-bottom: 47px;
  }
  .number {
    font-size: 15px;
    line-height: 26px;
  }
  
  .sect_title {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content > p {
    font-size: 15px;
    margin-top: 20px;
  }
  .connection {
    background-color: #FAFAFA;
  }
  .post_1 > .container {
    padding-top: 29px;
    padding-bottom: 74px;
  }
  .post_1 > .sect_title {
    font-size: 28px;
  }
  .container > p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .post_number {
    width: 70px;
    height: 70px;
    left: 6%;
    bottom: -12px;
  }
  .images_1 {
    width: 204px;
    height: 300px;
    top: 80px;
    left: calc(50% - 102px);
  }
  .images_2 {
    width: 302px;
    height: 250px;
    top: 78px;
    left: calc(50% - 151px);
  }
  .images_3, .images_4, .images_5 {
    width: 100%;
    height: 109vw;
    background-color: #E66D5A;
  }
  
  
  .footer {
    height: 568px;
    background-image: url("sources/img/game_767.jpg");
  }
  .footer_container {
    height: 568px;
    padding-top: 99px;
    padding-bottom: 10px;
  }
  .logo {
    width: 72px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 14px;
  }
  .logo > svg {
    width: 59px;
    height: 51px;
  }

  .download_app {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 2px;
  }
  .can_do {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 73px;
  }
  .footer_container > .store_buttons {
    margin-bottom: 78px; 
  }
}



@media(min-width: 768px) {
  .store_buttons {
    display: flex;
    justify-content: space-between;
  }
  .down_app, .get_it_on, .btn {
    border-radius: 38px;
    height: 77px;
  }
  .down_app, .get_it_on {
    width: 46%;
  }
  .icon {
    width: 38px;
    height: 43px;
    margin-right: 27px;
  }
  .buttons_text > p {
    font-size: 14px;
  }
  span {
    font-weight: 300;
  }

  .named, .title_1 {
    font-size: 4.1vw;
    line-height: 4vw; 
  }

  .images_1, .images_2  {
    position: absolute;
    z-index: 3;
  }

  .can_do {
    line-height: 35px;
  }
  .buttons_text > span, .number, .opac {
    letter-spacing: 1px;
  }
  .opac {
    line-height: 16px;
  }
  .number {
    font-size: 18px;
  }
  .opac {
    font-size: 24px;
  }
  
  .content > p, .container > p {
    line-height: 28px;
    letter-spacing: 1px;
  }
  .container > p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
  }

}


@media(min-width: 768px) and (max-width: 1199px) {
  .top {
    height: 960px;
    background-image: url("sources/img/football_1280.jpg");
  }
  .header_container {
    height: 960px;
    padding-top: 40px;
    padding-bottom: 91px;
  }
  
  .logotype {
    width: 205px;
    height: 56px;
    margin-bottom: 160зч;
  }

  .title {
    letter-spacing: 3px;
    margin-left: 9.5%;
    margin-bottom: 260px;
  }
  h1 {
    font-size: 64px;
  }
  .title1 {
    margin-top: 170px;
    margin-bottom: 6px;
    margin-left: 13px;
  }
  .title2 {
    width: 535px;
  }
  .store_buttons {
    width: 85%;
  }

  
  .sect_title {
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;            
  }
  .content > p {
    font-size: 16px;
  }
  .post_number {
    width: 117px;
    height: 117px;
    bottom: -36px;
    left: 4.5%;
  }

  .container_1 > .named, .container_1 > .content {
    padding-left: 39%;
    padding-right: 4%;
  }
  
  .container_2 > .named, .container_2 > .content {
    padding-left: 4%;
    padding-right: 50%;
  }
  
  .content {
    padding-top: 58px;
    padding-bottom: 33px;
  }
  .named {
    margin-top: 85px;
  }
  .art_header {
    margin-bottom: 28px;
  }
  
  aside  .container {
    margin-top: 90px;
    margin-bottom: 97px;
    margin-left: 4.3%;
    margin-right: 4.3%
  }
  aside p {
    margin-top: 37px;
    margin-left: 8px;
    margin-bottom: 0;
  }
  main > .post {
    position: relative;
    overflow: hidden; 
  }
  .images_1 {
    width: 498px;
    height: 750px;
    top: 90px;
    left: -157px;
    z-index: 3;
  }
  .images_2 {
    width: 482px;
    height: 630px;
    top: 45px;
    right: 0;
    z-index: 3;
  }

  .images_3, .images_4, .images_5 {
    width: 100%;
    height: 76vw;
    background-color: #E66D5A;
  }
  

  .footer {
    height: 959px;
    background-image: url("sources/img/game_1280.jpg");
  }
  .footer_container {
    height: 959px;
    padding-top: 126px;
    padding-bottom: 23px;
  }
  .logo {
    width: 130px;
    height: 137px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 68px;
    border-radius: 26px; 
  }
  .logo > svg {
    width: 107px;
    height: 85px;
  } 

  .to_logo {
    margin-bottom: 270px;
  }
  .download_app {
    font-size: 80px;
    letter-spacing: 3px;
    margin: 0;
  }
  
  .can_do {
    font-size: 36px;
    margin: 0;
  }
  
  .footer_container > .store_buttons {
    margin-bottom: 55px; 
  }

}



@media(min-width: 1200px) {
  .top {
    height: 50%;
    background-image: url("sources/img/football_1920.jpg");
  }
  .header_container {
    padding-top: 45px;
    padding-bottom: 110px;
  }
  .logotype {
    width: 191px;
    height: 52px;
  }
  .title {
    margin-left: 9%;
    margin-bottom: 204px;
  }
  h1 {
    font-size: 4.6vw;
  }
  .title1 {
    margin-top: 170px;
    margin-bottom: 6px;
    margin-left: 13px;
  }
  .title2 {
    width: 60vw;
  }
  .store_buttons {
    width: 35vw;
    min-width: 649px;
  }
  
  
  main .sect_title {
    font-size: 34px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 15px;
  }
     
  .container_1 > .named, .container_1 > .content {
    padding-left: 50%;
    padding-right: 10%;
  }
  
  .container_2 > .named, .container_2 > .content {
    padding-left: 10%;
    padding-right: 51%;
  }
  
  main .content {
    padding-top: 52px;
    padding-bottom: 31px;
  }
  .named {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .art_header {
    margin-bottom: 22px;
  }
  .post_1 {
    display: flex;
  }

  .images_1 {
    width: 28vw;
    height: 44vw;
    top: -55px;
    right: 52.5%;
  }
  .images_2 {
    width: 51.6vw;
    height: 42.5vw;
    top: -83px;
    right: 3%
  }
  .images_3, .images_4, .images_5 {
    width: 50%;
    height: 38vw;
    background-color: #E66D5A;
  }
  .images_3_1 {
    width: 100%;
    height: 100%;
  }
  
  aside .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
    align-self: center;
  }
  
  .post_1:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .post_1:nth-child(odd) p, .post_1:nth-child(odd) .title_1 {
    padding-left: 6.5vw;
    padding-right: 10vw;
  }
  .post_1:nth-child(even) p, .post_1:nth-child(even) .title_1 {
    padding-left: 10vw;
    padding-right: 6.5vw;
  }

  .title_1 {
    font-size: 4.1vw;
    line-height: 4vw; 
    margin-top: 0;
    margin-bottom: 2.6vw;
  }

  .post_number {
    width: 8.8vw;
    height: 8vw;
    top: 11vw;
    /*left: calc(width/2);*/
  }
  .post_1:nth-child(odd) .post_number {
    right: -4.4vw;
  }
  .post_1:nth-child(even) .post_number {
    left: -4.4vw;
  }

  .footer {
    height: 50%;
    background-image: url("sources/img/game_1920.jpg");
  }

  .footer_container {
    padding-top: 12vw;
    padding-bottom: 52px;
  }

  .app_container {
    display: flex;
    width: 46vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6vw;
    align-items: center;
  }
  .logo {
    width: 7vw;
    height: 7vw;
    margin-right: auto;
    border-radius: 1.4vw;
  }
  .logo > svg {
    width: 5.6vw;
    height: 4.4vw;
  } 
  .download_app {
    font-size: 4.2vw;
    letter-spacing: 0.2vw;
    text-align: left;
    margin: 0;
  }
  .can_do {
    font-size: 1.8vw;
    text-align: left;
    margin: 0;
  }

  .footer_container > .store_buttons {
    margin-bottom: 13vw; 
  }
}